/* Utility classes */
.center { display: block; margin: 0 auto; }
.b1 { border: 1px solid black; }
.w25 { width: 25%; }
.w50 { width: 50%; }
.w75 { width: 75%; }
.w33 { width: 33%; }
.w66 { width: 66%; }
